.collection-description{
    width: 100%;
    height: auto;
    padding-top: 74px;
    margin-bottom: 128px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.description-detail{
    width: 543px;
    margin-bottom: 36px;
}

.description-detail h3{
    font-size: 41px;
    margin-bottom: 26px;
}

.description-detail p{
    font-size: 18px;
}

.description-detail button{
    width: 194px;
    padding: 12px 0;
    color: #fff;
    background-color: #000;
    border: none;
    font-size: 18px;
    margin-top: 26px;
    cursor: pointer;
}

.description-thumbnail{
    width: 573px;
    background-color: bisque;
}

img {
    max-width: 100%;
    display: block;
}

figure {
    margin: 0;
    display: grid;
    grid-template-rows: repeat(2,49%);
    margin-bottom: 20px;
    break-inside: avoid;
}

figure img{
    grid-row: 1 / -2;
    grid-column: 1;
}

.masonry-grid{
    column-count: 2;
    column-gap: 20px;
}

@media only screen and (max-width: 600px){
    .collection-description {
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    .description-detail h3 {
        font-size: 18px;
    }

    .description-detail p {
        font-size: 12px;
    }

    .description-detail button{
        width: 154px;
        padding: 12px 0px;
        color: #fff;
        background-color: #000;
        border: none;
        font-size: 12px;
        margin-top: 26px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 768px){
    .collection-description {
        display: grid;
        grid-template-columns: repeat(2,49%);
    }

    .description-thumbnail{
        width: 100%;
    }

    .description-detail {
        width: auto;
    }

    .description-detail h3 {
        font-size: 18px;
    }

    .description-detail p {
        font-size: 12px;
    }

    .description-detail button{
        width: 154px;
        padding: 12px 0px;
        color: #fff;
        background-color: #000;
        border: none;
        font-size: 12px;
        margin-top: 26px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px){
    .collection-description {
        display: grid;
        grid-template-columns: repeat(2,49%);
    }
    
    .description-detail {
        width: auto;
    }

    .description-thumbnail{
        width: 100%;
    }
}


