h3 {
  font-size: 45px;
}

h4 {
  font-size: 40px;
}

.slider {
  width: 100%;
  background-color: #fff;
  overflow: hidden;  
  padding-top: 60px;
}  

.slider img {
  width: 100%;
}

.sliders{
  width: 500%;
  height: 100%;
  display: flex;
}

.sliders input {
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
}

.slide img {
  width: 100%;
  object-fit: cover;
}

/* css for manual slide navigatio */

.navigation-manual{
  position: absolute;
  width: 100%;
  bottom: 200px;
  right: 0;
  display: flex;
  justify-content: center;
}

.manual-btn{
  border: 2px solid #fff;
  padding: 5px;
  cursor: pointer;
  transition: 1s;
  border-radius: 10px;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover{
  background-color: #808080;
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -20%;
}

#radio3:checked ~ .first{
  margin-left: -40%;
}

#radio4:checked ~ .first{
  margin-left: -60%;
}

/* css for automativ navigation */
.navigation-auto{
  position: absolute;
  width: 100%;
  bottom: 200px;
  right: 0;
  display: flex;
  justify-content: center;
}

.navigation-auto div{
  border: 2px solid #fff;
  padding: 5px;
  transition: 1s;
  border-radius: 10px;
}

.navigation-auto div:not(:last-child){
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background: #fff;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
  background: #fff;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
  background: #fff;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
  background: #fff;
}

.category-container {
  width: 100%;
}

.category-grid {
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: repeat(4,272px);
}

.category-box img {
  width: 100%;
  object-fit: cover;
}

.category-box:hover img {
  opacity: 31%;
  transition: 200ms;
  animation: ease-in-out;
}

.text {
  color: #000;
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  display: none;
  transition: 200ms;
}

.category-box:hover .text {
  display: flex;
  transition: 500ms;
}

.category-box {
  position: relative;
}

.new-arrivals-container {
  display: grid;
  width: 100%;
  grid-column-gap: 20px;
  grid-template-columns: repeat(4,272px);
  justify-content: space-between;
  align-items: center;
}

.new-arrivals {
  width: 272px;
  margin-bottom: 20px;
}

.new-arrivals-img {
  width: 100%;
  height: 381px;
  position: relative;
}

.new-arrivals-img img {
  width: 100%;
  transition: 200ms;
  cursor: default;
}

.new-arrivals-img button{
  position: absolute;
  top:35%;
  left: 35%;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: transparent;
  border: #fff solid 2px;
  transition: 200ms;
  display: none;
  cursor: pointer;
}

.new-arrivals-img button i{
  font-size: 30px;
  color: #fff;
}

.new-arrivals-img:hover img{
  opacity: 51%;
  transition: 200ms;
  animation: ease-in-out;
}

.new-arrivals-img:hover button{
  display: block;
  transition: 500ms;
  animation: ease-in-out;
}

.new-arrivals-info {
  width: 100%;
  height: 89px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.new-arrivals-info .new-arrivals-title {
  font-size: 20px;
}

.new-arrivals-info .new-arrivals-price {
  font-size: 17px;
  display: flex;
  align-items: center;
}

.new-arrivals-info span {
  font-size: 11px;
}

a {
  text-decoration: none;
  color: #000;
}

.collection-1 {
  width: 100%;
  height: 45.563rem;
  position: relative;
}

.collection-1-thumbnail {
  width: 559px;
  height: 729px;
  background-color: #fff;
  position: absolute;
  transition: 200ms;
  overflow: hidden;
}

.collection-1-thumbnail img {
  width: 100%;
  z-index: 1;
}

.collection-1-title {
  position: absolute;
  top: 9.5rem;
  left: 30.813rem;
}

.collection-1-info {
  position: absolute;
  top: 18.188rem;
  left: 37.688rem;
  width: 16.563rem;
  font-size: 1.125rem;
  line-height: 1.625rem;
  text-align: left;
}

.background-box1-container {
  position: relative;
  top: 3.188rem;
}

.collection-1-background-box1 {
  width: 100%;
  height: 30.313rem;
  position: absolute;
  border: 0.125rem solid #5e5e5e;
  margin-top: 0.563rem;
}

.collection-1-background-box2 {
  display: flex;
  width: 97%;
  height: 31.438rem;
  position: absolute;
  border: 0.125rem solid #5e5e5e;
  left: 0;
  margin-left: 0.973rem;
}

.backgroud-line {
  width: 243px;
  height: 1px;
  background-color: #d6d6d6;
}

.article-button-right {
  width: 354px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  left: 559px;
  top: 437.57px;
  text-align: right;
  cursor: pointer;
}

.article-button-left {
  width: 354px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  right: 563px;
  top: 503px;
  cursor: pointer;
}

.collection-2 {
  width: 66.688rem;
  height: 46rem;
  position: relative;
  /* float: right; */
  margin-left: auto;
}

.collection-2-thumbnail {
  width: 559px;
  height: 729px;
  background-color: #fff;
  position: absolute;
  transition: 200ms;
  overflow: hidden;
  right: 0;
  top: 0;
  cursor: pointer;
}

.collection-2-thumbnail img {
  width: 100%;
  z-index: 1;
}

.collection-2-title {
  position: absolute;
  text-align: right;
  top: 13.688rem;
  right: 30.938rem;
  cursor: pointer;
}

.collection-2-info {
  position: absolute;
  top: 22.25rem;
  right: 37.875rem;
  width: 18.063rem;
  font-size: 1.125rem;
  line-height: 1.625rem;
  text-align: right;
}

.background-box2-container {
  position: relative;
  top: 7.813rem;
}

.collection-2-background-box1 {
  width: 100%;
  height: 30.313rem;
  position: absolute;
  border: 0.125rem solid #5e5e5e;
  margin-top: 0.563rem;
}

.collection-2-background-box2 {
  display: flex;
  width: 98%;
  height: 31.438rem;
  position: absolute;
  border: 0.125rem solid #5e5e5e;
  margin-left: 0.973rem;
}

.collection-3 {
  width: 68.438rem;
  height: 45.563rem;
  position: relative;
}

.collection-3-thumbnail {
  width: 559px;
  height: 729px;
  background-color: #fff;
  position: absolute;
  transition: 200ms;
  overflow: hidden;
  cursor: pointer;
}

.collection-3-thumbnail img {
  width: 100%;
  z-index: 1;
}

.collection-3-title {
  position: absolute;
  top: 9.5rem;
  left: 30.813rem;
  cursor: pointer;
}

.collection-3-info {
  position: absolute;
  top: 18.188rem;
  left: 37.688rem;
  width: 16.563rem;
  font-size: 1.125rem;
  line-height: 1.625rem;
  text-align: left;
}

.background-box3-container {
  position: relative;
  top: 3.188rem;
}

.collection-3-background-box1 {
  width: 100%;
  height: 30.313rem;
  position: absolute;
  border: 0.125rem solid #5e5e5e;
  margin-top: 0.563rem;
}

.collection-3-background-box2 {
  display: flex;
  width: 97%;
  height: 31.438rem;
  position: absolute;
  border: 0.125rem solid #5e5e5e;
  left: 0;
  margin-left: 0.973rem;
}

@media only screen and (max-width: 600px) {
  h2 {
    text-align: center;
  }

  .slider {
    width: 100%;
    height: 200px;
    padding-top: 40px;
  }

  .sliders {
    height: 100%;
  }

  .navigation-manual{
    display: none;
  }
  .navigation-auto{
    display: none;
  }

  .category-grid {
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-columns: repeat(2, 48%);
    justify-content: space-between;
  }

  .category-box .text {
    display: block;
    font-size: 16px !important;
  }

  .category-box img {
    opacity: 31%;
  }

  .new-arrivals-container {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: repeat(2,48%);
    justify-content: space-between;
  }

  .new-arrivals {
    width: 100%;
  }

  .new-arrivals-img {
    width: 100%;
    height: auto;
    overflow: hidden;
  }

  .new-arrivals-info {
    height: 60px;
    padding: 10px 0;
  }
  
  .new-arrivals-info .new-arrivals-title{
    font-size: 14px;
    font-weight: 600;
  }

  .new-arrivals-info .new-arrivals-price{
    font-size: 12px;
  }

  .background-box1-container {
    display: none;
  }
  .background-box2-container {
    display: none;
  }
  .background-box3-container {
    display: none;
  }

  .collection-1 {
    width: 100%;
    height: min-content;
    margin-bottom: 60px;
  }

  .collection-1-title {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: left;
    margin-top: 20px;
  }

  .collection-1-title h3 {
    font-size: 35px;
  }

  .collection-1-info {
    display: none;
  }

  .collection-1-thumbnail {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .collection-1-thumbnail img {
    width: 100%;
  }

  .article-button-right {
    display: none;
  }

  .collection-2 {
    width: 100%;
    height: min-content;
    margin-bottom: 60px;
  }

  .collection-2-title {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    margin-top: 20px;
    text-align: left;
  }

  .collection-2-title h3 {
    font-size: 30px;
  }

  .collection-2-info {
    display: none;
  }

  .collection-2-thumbnail {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .collection-2-thumbnail img {
    width: 100%;
  }

  .article-button-right {
    display: none;
  }

  .collection-3 {
    width: 100%;
    height: min-content;
  }

  .collection-3-title {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: left;
    margin-top: 20px;
  }

  .collection-3-title h3 {
    font-size: 30px;
  }

  .collection-3-info {
    display: none;
  }

  .collection-3-thumbnail {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .collection-1-thumbnail img {
    width: 100%;
  }

  .article-button-right {
    display: none;
  }
}

@media only screen and (min-width: 600px) and (max-width: 767px) {
  h2 {
    text-align: center;
  }

  .slider {
    width: 100%;
    height: 200px;  
    padding-top: 40px;
  }

  .category-grid {
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-columns: repeat(2, 48%);
    justify-content: space-between;
  }

  .category-box .text {
    display: block;
    font-size: 16px !important;
  }

  .category-box img {
    opacity: 31%;
  }

  .new-arrivals-container {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: repeat(2,48%);
    justify-content: space-between;
  }

  .new-arrivals {
    width: 100%;
  }

  .new-arrivals-img {
    width: 100%;
    height: auto;
    overflow: hidden;
  }

  .new-arrivals-info {
    height: 60px;
    padding: 10px 0;
  }
  
  .new-arrivals-info .new-arrivals-title{
    font-size: 14px;
    font-weight: 600;
  }

  .new-arrivals-info .new-arrivals-price{
    font-size: 12px;
  }

  .background-box1-container {
    display: none;
  }
  .background-box2-container {
    display: none;
  }
  .background-box3-container {
    display: none;
  }

  .collection-1 {
    width: 100%;
    height: min-content;
    margin-bottom: 60px;
  }

  .collection-1-title {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: left;
    margin-top: 20px;
  }

  .collection-1-title h3 {
    font-size: 35px;
  }

  .collection-1-info {
    display: none;
  }

  .collection-1-thumbnail {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .collection-1-thumbnail img {
    width: 100%;
  }

  .article-button-right {
    display: none;
  }

  .collection-2 {
    width: 100%;
    height: min-content;
    margin-bottom: 60px;
  }

  .collection-2-title {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    margin-top: 20px;
    text-align: left;
  }

  .collection-2-title h3 {
    font-size: 30px;
  }

  .collection-2-info {
    display: none;
  }

  .collection-2-thumbnail {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .collection-2-thumbnail img {
    width: 100%;
  }

  .article-button-right {
    display: none;
  }

  .collection-3 {
    width: 100%;
    height: min-content;
  }

  .collection-3-title {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: left;
    margin-top: 20px;
  }

  .collection-3-title h3 {
    font-size: 30px;
  }

  .collection-3-info {
    display: none;
  }

  .collection-3-thumbnail {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .collection-1-thumbnail img {
    width: 100%;
  }

  .article-button-right {
    display: none;
  }
}



@media only screen and (min-width: 768px) and (max-width: 1024px) {
  h2 {
    text-align: center;
  }

  .main-article {
    width: 100%;
    padding: 22px;
  }

  .slider {
    width: 100%;
    height: 300px;
  }

  .category-grid {
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-columns: repeat(4, auto);
    justify-content: space-between;
  }

  .category-box .text {
    display: block;
    font-size: 16px !important;
  }

  .category-box img {
    opacity: 31%;
  }

  .new-arrivals-container {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: repeat(3, 32%);
    justify-content: space-between;
  }

  .new-arrivals {
    width: 100%;
  }

  .new-arrivals-img {
    width: 100%;
    height: auto;
    overflow: hidden;
  }

  .new-arrivals-info .new-arrivals-title{
    font-size: 16px;
    font-weight: 600;
  }

  .new-arrivals-info .new-arrivals-price{
    font-size: 14px;
  }

  .background-box1-container {
    display: none;
  }
  .background-box2-container {
    display: none;
  }
  .background-box3-container {
    display: none;
  }

  .collection-1 {
    width: 100%;
    height: min-content;
    margin-bottom: 60px;
  }

  .collection-1-title {
    position: absolute;
    top: 25%;
    left: 55%;
  }

  .collection-1-title h3 {
    font-size: 4.2vw;
  }

  .collection-1-info {
    position: absolute;
    top: 50%;
    left: 55%;
    font-size: 2vw;
  }

  .collection-1-thumbnail {
    width: 50%;
    height: auto;
    position: relative;
  }

  .collection-1-thumbnail img {
    width: 100%;
  }

  .article-button-right {
    display: none;
  }

  .collection-2 {
    width: 100%;
    height: auto;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .collection-2-title {
    position: absolute;
    top: 25%;
    right: 55%;
  }

  .collection-2-title h3 {
    font-size: 4.2vw;
    text-align: right;
  }

  .collection-2-info {
    position: absolute;
    top: 50%;
    right: 55%;
    font-size: 2.5vw;
  }

  .collection-2-thumbnail {
    width: 50%;
    height: auto;
    position: relative;
  }

  .collection-2-thumbnail img {
    width: 100%;
  }

  .article-button-right {
    display: none;
  }

  .collection-3 {
    width: 100%;
    height: min-content;
  }

  .collection-3-title {
    position: absolute;
    top: 25%;
    left: 55%;
  }

  .collection-3-title h3 {
    font-size: 4.2vw;
  }

  .collection-3-info {
    position: absolute;
    top: 50%;
    left: 55%;
    font-size: 2.5vw;
  }

  .collection-3-thumbnail {
    width: 50%;
    height: auto;
    position: relative;
  }

  .collection-1-thumbnail img {
    width: 100%;
  }

  .article-button-left {
    display: none;
  }
}



