.main-banner {
  width: 100%;
  height: 33.5rem;
  position: relative;
}

.main-banner .main-banner-img{
  width: 100%;
  height: 100%;
  background-image: url('../img/Top-thumb.png');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  padding-top: 60px ;
}

.product-list {
  margin-top: 72px;
}

.product-filter {
  display: flex;
  justify-content: right;
  align-items: center;
}

.product-filter select{
  width: 125px;
  height: 30px;
  margin-bottom: 24px ;
  border: none;
  border-bottom: solid #000 1px;
  outline-color: transparent;
  cursor: pointer;
  font-size: 14px;
}

.product-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-card {
  width: 272px;
  margin-bottom: 20px;
}

.product-thumbnail {
  width: 100%;
  height: 381px;
  background-size: cover;
  background-position: center;
  position: relative;
  cursor: default;
}

.product-thumbnail button{
  position: absolute;
  top:35%;
  left: 35%;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: transparent;
  border: #fff solid 2px;
  transition: 200ms;
  display: none;
  cursor: pointer;
}

.product-thumbnail button i{
  font-size: 30px;
  color: #fff;
}

.product-thumbnail:hover {
  opacity: 51%;
  transition: 200ms;
  animation: ease-in-out;
}

.product-thumbnail:hover button{
  display: block;
  transition: 500ms;
  animation: ease-in-out;
}

.product-thumnail img {
  width: 100%;
}

.suggest-product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 14.35px;
  padding-bottom: 14.35px;
  height: 5.563rem;
  width: 100%;
}

.product-container a{
  text-decoration: none;
  color: #000;
}

.product-name {
  font-size: 20px;
}

.product-price {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
}

.product-price span{
  font-size: 11px;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .main-banner {
    height: 248px;
  }

  .main-banner .main-banner-img{
    font-size: 50px;
  }

  .product-list{
    margin-top: 32px;
  }

  .product-container{
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: repeat(2,48%);
    justify-content: space-between;
  }

  .suggest-product-info {
    height: 60px;
    padding: 10px 0;
  }

  .product-card {
    width: 100%;
  }

  .product-thumbnail{
    height: 216px;
  }

  .product-thumbnail img{
    width: 100%;
  }

  .product-name {
    font-size: 14px;
  }
  
  .product-price {
    font-size: 12px;
  }
  
  .product-price span{
    font-size: 11px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px){
  .main-banner {
    height: 248px;
  }

  .product-list{
    margin-top: 32px;
  }

  .product-container{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 24%);
    justify-content: space-between;
  }

  .suggest-product-info {
    height: 60px;
    padding: 10px 0;
  }

  .product-card {
    width: 100%;
  }

  .product-thumbnail{
    height: 275px;
  }

  .product-name {
    font-size: 14px;
  }
  
  .product-price {
    font-size: 12px;
  }
  
  .product-price span{
    font-size: 11px;
  }
}
