* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #000;
  text-decoration: none;
}

.overlay-body{
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
}


.main-article {
  width: 1349px;
  padding: 0 6.25rem 0 6.25rem;
  margin-left: auto;
  margin-right: auto;
}

@font-face {
    font-family: bigCaslon;
    src: url("../font/BigCaslon-Regular.otf");
}

@font-face {
    font-family: Helvetica;
    src: url("../font/Helvetica.ttf");
}

@font-face {
    font-family: Helvetica;
    src: url("../font/Helvetica-Bold.ttf");
    font-weight: bold;
}

.font-1{
    font-family: bigCaslon;
    font-weight: normal;
}

.font-2{
    font-family: Helvetica;
}

.navbar {
  width: 100%;
  height: 60px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 14px;
  padding-left: 14px;
  position: fixed;
  z-index: 3;
  border-bottom: rgba(0, 0, 0, 0.068) 1px solid;
}

.navbar-logo img {
  display: flex;
  align-items: center;
}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 14px;
  z-index: 3;
  cursor: pointer;
  width: 50px;
  height: 100%;
  opacity: 0;
}

.menu-wrap .hamburger{
  position:sticky;
  top: 0;
  left: 0;
  z-index: 2;
  width: 70px;
  height: 60px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-wrap .hamburger > div{
  position: relative;
  width: 100%;
  height: 3px;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

/* Top and bottom line */
.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after {
  content: '';
  position: absolute;
  z-index: 2;
  top: -10px;
  width: 100%;
  height: 3px;
  background: inherit;
}

/* Move line down */
.menu-wrap .hamburger > div:after{
  top: 10px
}

/* Toggler animate */
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

/* Turn lines into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}


.menu-wrap .menu {
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
}

.menu-wrap .menu > div {
  width: 80%;
}


.menu-submenu {
  width: 50%;
  height: 100%;
  background-color: #ededed;
  padding-left: 120px;
  line-height: 66px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.category-submenu {
  display: none;
  grid-template-columns: auto auto auto;
  column-count: 2;
}

.show {
  display: grid;
}

.category-submenu ul {
  margin: 20px 0px;
}

.category-submenu ul a {
  text-decoration: none;
  color: #000;
}

.category-submenu li {
  list-style-type: none;
  line-height: 23px;
  font-size: 20px;
  margin-bottom: 14px;
  cursor: pointer;
  padding-left: 10px;
}

.menu-submenu h4 {
  font-size: 40px;
  cursor: pointer;
  width: fit-content;
  padding: 0px 5px;
}

.menu-submenu h4:hover {
  cursor: pointer;
  background-color: #000000;
  color: #fff;
  transition: 200ms;
}

.search-and-cart-wrap{
  width: 100px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-search-wrap {
  width: 50px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: black; */
  /* margin-right: 50px; */
}

.find-icon-wrap{
  cursor: pointer;
}

.navbar-search-wrap .toggler{
  z-index: 3;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
  position: absolute;
}

.search {
  height: 100vh;
  width: 40%;
  display: none;
  background-color: #ededed;
  position: absolute;
  top: 0;
  right: 0;
  padding: 44px 44px;
  z-index: 2;
  overflow: scroll;
}

.search .title-and-exit-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search input {
  width: 100%;
  height: 53px;
  border: none;
  outline: transparent;
  margin-top: 32px;
  padding: 0 18px;
  font-size: 16px;
}

.search input::placeholder{
  font-style: italic;
  color: #909090;
  font-size: 14px;
}

.item-in-search-wrap {
  margin-top: 20px;
  width: 100%;
}

.item-in-search-wrap a:hover{
  color: #84D6FF;
}

.item-in-search-wrap-grid{
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 20px;
}

.item-in-search-wrap::-webkit-scrollbar {
  display: none;
}

.search-item {
  display: flex;
  border-bottom: 1px solid #90909063;
  cursor: pointer;
}

.search-item-img {
  width: 40px;
  /* height: 100%; */
  background-color: aqua;
  margin-right: 20px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.search-item-info-name {
  font-size: 18px;
}

.search-item-info-price{
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.search-item-info-price span{
  font-size: 11px;
}


.navbar-cart-wrap {
  width: 50px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-cart-wrap .toggler{
  /* z-index: 3; */
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
  position: absolute;
}

.cart-icon-wrap {
  cursor: pointer;
}

.cart {
  height: 100vh;
  width: 40%;
  background-color: #ededed;
  position: absolute;
  top: 0;
  right: 0;
  padding: 64px 44px;
  z-index: 2;
  display: none;
}

.cart .title-and-exit-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-in-cart-wrap {
  margin-top: 20px;
}

.item-in-cart-wrap-grid {
  width: 100%;
  height: 350px;
  display: grid;
  grid-row-gap: 20px;
  grid-template-columns: 100%;
  overflow: scroll;
  overflow-x: hidden;
  padding-right: 20px;
}

.item-in-cart-wrap-grid .item{
  /* background-color:aqua; */
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #000;
}

.item-image {
  width: 118px;
  height: 150px;
  background-position: center;
  background-size: cover;
}


.item-info {
  width: calc(438px - 118px);
  height: 100%;
  padding: 0 47px 0 27px;
  position: relative;
}

.item-name{
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 12px;
}

.item-detail{
 color: #5b5b5b;
 font-size: 16px;
 margin-bottom: 12px;
}

.item-quantity-and-price{
 color: #5b5b5b;
 font-size: 16px;
 margin-bottom: 12px;
}

.item-price {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-price span{
  font-size: 11px;
}

.item-quantity-and-price {
  display: flex;
  justify-content: space-between;
}

.delete-item {
  width: 17px;
  height: 20px;
  background-image: url("/img/delete-icon.png");
  position: absolute;
  bottom: 5px;
  right: 20px;
  cursor: pointer;
}

.total-price {
  display: flex;
  justify-content: space-between;
  border-top: solid 1px #000;
  padding-top: 20px;
  margin-top: 20px;
}

.total-price p{
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.total-price span{
  font-size: 11px;
}

.pay-button-wrap {
  margin-top: 50px;
}

.pay-button-wrap button{
  width: 194px;
  padding: 12px 0;
  color: #fff;
  background-color: #000;
  border: none;
  font-size: 18px;
  float: right;
  cursor: pointer;
}

footer {
  width: 100%;
  background-color: #e5e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5.875rem;
}

.footer-wrap {
    width: 1349px;
    /* height: 17.5rem; */
    padding: 3.875rem 6.25rem;
    display: flex;
    justify-content: space-between
  }
  
  .footer-address {
    display: flex;
    margin-bottom: 0.75rem;
    align-items: center;
  }
  
  .footer-address img {
    position: absolute;
  }
  
  .footer-address p {
    line-height: 1.625rem;
    margin-left: 2.344rem;
    /* height: 3.25rem; */
    width: 16.344rem;
  }
  
  .footer-hotline {
    display: flex;
    align-items: center;
  }
  
  .footer-hotline img {
    position: absolute;
  }
  
  .footer-hotline p {
    line-height: 1.625rem;
    margin-left: 2.344rem;
    /* height: 3.25rem; */
    width: 16.344rem;
  }
  
  .social-link {
    width: 160px;
    height: 31.94px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;  
  }

  footer p{
      font-size: 18px;
  }

  footer h3{
      font-size: 20px;
      font-weight: 6000;
  }

  footer hr{
    display: none;
  }

  footer ul {
    padding-left: 19px;
  }

  @media only screen and (max-width: 600px){
    .main-article {
      width: 100%;
      padding: 0 22px;
    }

  .navbar {
    height: 40px;
    width: 100%;
    padding: 0px;
  }

  .navbar-logo {
    width: 100px;
  }

  .navbar-logo img {
    width: 100px;
  }

  .navbar-search-wrap {
    width: 50px;
    height: 50px;
    /* background-color: black; */
  }

  .menu-wrap .hamburger {
    height: 40px;
    width: auto;
  }

   .menu-wrap .hamburger div{
     width: 28px;
   }

  .menu-submenu {
    width: 100%;
    padding-left: 20px;
  }

  .category-submenu li{
    font-size: 12px;
    margin-bottom: 8px;
  }

  .menu-submenu h4{
    font-size: 20px;
    line-height: 40px;
  }

  .product-filter{
    display: none;
  }

  .find-icon-wrap img {
    width: 16px;
  }

  .cart-icon-wrap img {
    width: 16px;
  }

  .cart {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 40px;
    padding: 40px 20px;
  }

  .search {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 40px;
    padding: 40px 20px;
  }

  .item-in-cart-wrap-grid {
    height: 300px;
  }
  
  .footer-wrap {
    padding: 22px;
    display: block;
    margin-top: 40px;
  }

  .footer-logo{
    display: none;
  }

  .footer-address p {
    width: 100%;
  }

  footer p{
    font-size: 14px;
  }
  
  footer li{
    font-size: 14px;
  }

  footer h3{
    font-size: 16px;
  }

  footer hr {
    margin: 20px 0;
    display: block;
  }
  }

  @media only screen and (min-width: 600px) and (max-width: 768px){
    .main-article {
      width: 100%;
      padding: 0 22px;
    }
    
    .navbar {
      height: 40px;
      width: 100%;
      padding-left: 14px;
    }
  
    .navbar-hamburger img {
      width: 20px;
    }
  
    .navbar-find_cart img {
      width: 20px;
    }
  
    .navbar-logo img {
      width: 150px;
    }

    .product-filter{
      display: none;
    }

    .menu-wrap .hamburger {
      height: 40px;
    }
  
     .menu-wrap .hamburger div{
       width: 28px;
     }
  
    .menu-submenu {
      width: 100%;
      padding-left: 20px;
    }
  
    .category-submenu li{
      font-size: 12px;
      margin-bottom: 8px;
    }

    .menu-submenu h4{
      font-size: 30px;
      line-height: 51px;
    }

    .find-icon-wrap img {
      width: 20px;
    }
  
    .cart-icon-wrap img {
      width: 20px;
    }

    .cart {
      width: 50%;
      height: 100%;
      position: fixed;
      top: 40px;
      padding: 40px 20px;
    }
  
    .search {
      width: 50%;
      height: 100%;
      position: fixed;
      top: 40px;
      padding: 40px 20px;
    }
    
    .footer-wrap {
      padding: 22px;
      display: block;
      margin-top: 40px;
    }
  
    .footer-logo{
      display: none;
    }
  
    .footer-address p {
      width: 100%;
    }
  
    footer p{
      font-size: 14px;
    }
    
    footer li{
      font-size: 14px;
    }
  
    footer h3{
      font-size: 16px;
    }
  
    footer hr {
      margin: 20px 0;
      display: block;
    }
  }

  @media only screen and (min-width: 768px) and (max-width: 1024px){
    .main-article {
      width: 100%;
    }

    .menu-submenu {
      width: 75%;
    }

    .item-in-cart-wrap-grid {
      height: 350px;
    }

    footer {
      width: 100%;
      /* height: 17.5rem; */
      background-color: #e5e5e5;
      margin-top: 5.875rem;
      display: flex;
      justify-content: space-between
    }

    .footer-wrap{
      padding: 62px 20px;
    }
  }